body{
    background-color: black;
    height: 99%;
    font-family: sans-serif;
}

.kur{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.kur .miktar {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 3px;
    font-weight: bold;
}

.miktar .sembol {
    color: grey;
    font-size: 48px;
}

.miktar .para {
    color: white;
    font-size: 64px;
    line-height: 1; 
}

.miktar .kusur {
    color: grey;
    font-size: 48px;
    line-height: 1; 
}


.birim{
    color: white;
  
}

.birim ul{
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 50px;
    gap: 45px;
    font-size: 28px;
    list-style: none;
    


}

.birim ul .brm{
    color: grey;
}

.birim ul .brm1{
    color: grey;
    display: flex;
    margin-top: -7px;
}

